---
"extends":
    - "formidable/configurations/es6-react"

"rules":
    "indent": ["error", 4, {"SwitchCase": 1}]
    "react/jsx-indent": ["error", 4]
    "react/jsx-indent-props": ["error", 4]
    "semi": ["error", "always"]
    "comma-dangle": 0
    "max-len": 0
    "quotes": ["error", "single"]
    "jsx-quotes": ["error", "prefer-double"]
    "no-magic-numbers": 0
    "react/prefer-es6-class": 0
    "react/no-multi-comp": 0

"env":
    "browser": true,
    "node": true
"globals":
    "afterEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "jest": true,
    "test": true
